body {
  font-family: Arial, sans-serif;
  margin: 20px;
  min-width: 400px;
  min-height: 300px;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.container {
  min-width: 200px;
}
.filter-container {
  width: 100%;
}
.search-container,
.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.logo {
  align-self: center;
  width: 40px;
  height: 40px;
}

input[type='text'],
input[type='number'] {
  width: 96%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #005bb8;
}

#results {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #0073e6;
}

a:hover {
  text-decoration: underline;
}

#downloadLink {
  display: block;
  padding: 12px 6px;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(0, 61, 0);
  color: #fff;
  text-decoration: none;
}

#downloadLink:hover {
  background-color: rgb(91, 139, 43);
}
